* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8A2EFF;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 24px;
}

h4.logo {
    font-size: 24px;
    display: flex;
    font-family: "Poppins";
    color: white;
}

.link {
    display: flex;
    list-style-type: none;
    width: 40%;
    justify-content: space-between;
}

.link a {
    text-decoration: none;
    color: white;
    font-family: "Poppins";
    font-weight: 300;
}

.humberger {
    display: none;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.bar {
    background-color: white;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    margin: 3px;
}

.hero {
    margin-top: 90px;
    text-align: center;
}

.hero img {
    width: 305px;
    height: 323px;
}

.header-text {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 15px;
    font-family: "Quicksand";
    color: white;
    margin-top: 28px;
}

#about {
    margin-top: 67px;
}

.title-about {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

h6 {
    font-size: 20px;
    font-family: "Poppins";
    color: white;
}

hr {
    width: 45px;
    text-align: center;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

.text-about {
    margin-top: 28px;
    text-align: center;
    color: white;
    font-family: "Quicksand";
    font-size: 15px;
    margin-right: 40px;
    margin-left: 40px;
}

.image-about {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 28px;
}

.image-about img {
    width: 158px;
    height: 130px;
    box-shadow: 0px 0px 20px rgb(6, 0, 48);
    border-radius: 2px;
}

#project {
    margin-top: 67px;
}

.title-project{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.text-project {
    margin-top: 34px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: "Quicksand";
    margin-left: 40px;
    margin-right: 40px;
}

.border {
    margin: auto;
    margin-top: 17px;
    width: 300px;
    height: 87px;
    background-color: #8D8DF9;
    box-shadow: 0px 0px 20px rgb(73, 53, 199);
    border-radius: 10px;
}

.conten {
    display: flex;
    align-items: center;
}

.image img {
    width: 82px;
    height: 57px;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 13px;
    margin-right: 15px;
}

.conten p {
    font-size: 15px;
    font-family: "quicksand";
    margin-right: 13px;
    color: black;
    font-weight: 400;
}

#contact {
    margin-top: 67px;
}

.title-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conten-contact {
    padding-top: 28px;
    width: 300px;
    text-align: center;
    margin: auto;
}
.conten-contact input {
    width: 278px;
    margin: 3px;
    height: 30px;
    font-family: "Quicksand";
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #8D8DF9;
}

input::placeholder {
    color: white;
}

textarea::placeholder {
    color: white;
    padding: 5px;
}

textarea {
    width: 280px;
    font-family: "Quicksand";
    margin-top: 3px;
    background-color: #8D8DF9;
    border-radius: 5px;
    border: 0;
}

.button input {
    width: auto;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #2df061;
    border: 0;
    display: flex;
    justify-content: flex-start;
    color: white;
    font-family: "Quicksand";
    font-weight: 600;
}

@media screen and (max-width: 460px) {
    .link {
        display: none;
    }
    .humberger {
        display: flex;
    }
}

@media  screen and (max-width: 360px) {
    .image-about img {
        width: 138px;
        height: 100px;
        box-shadow: 0px 0px 20px rgb(6, 0, 48);
        border-radius: 2px;
    }
    
}